<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>SplashDash</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" type="text/css" href="utils/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="utils/css/datatables.css">
    <link rel="stylesheet" type="text/css" href="utils/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="utils/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="utils/css/icofont.min.css">
    <link rel="stylesheet" href="utils/css/swiper.min.css">
    <!--Page Specific -->
    <link rel="stylesheet" type="text/css" href="utils/css/nice-select.css">
    <!--Custom Style -->
    <link rel="stylesheet" type="text/css" href="utils/css/style.css">
    <link rel="stylesheet" id="theme-change" type="text/css" href="">
</head>


<body>
<div class="loader">
    <div class="spinner">
        <img src="utils/picture/loader.gif" alt="">
    </div>
</div>

<div class="page-wrapper">
    <!-- Header Start -->
    <header class="header-wrapper main-header">
        <div class="header-inner-wrapper">
            <div class="logo-wrapper">
                <a href="index.html" class="admin-logo">
                    <img src="utils/picture/logo.png" alt="">
                </a>
            </div>
            <div class="header-right">

                <div class="header-left">
                    <div class="header-links">
                        <a href="javascript:void(0);" class="toggle-btn">
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="app" >
    <!-- Main Body -->
<div class="page-wrapper">
    <!-- Sidebar Start -->
    <aside class="sidebar-wrapper">
        <div class="side-menu-wrap">
            <ul class="main-menu">
                <li>
                    <a href="index.html">
                                   <span class="icon-menu feather-icon">
                                       <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
                                   </span>
                        <span class="menu-text">
                                       学生列表
                                   </span>
                    </a>
                </li>
                <li>
                    <a href="">
                                   <span class="icon-menu feather-icon">
                                       <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                   </span>
                        <span class="menu-text">
                                       学生成绩列表
                                   </span>
                    </a>
                </li>
                <li>
                    <a href="sgrade.html">
                                   <span class="icon-menu feather-icon">
                                       <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                   </span>
                        <span class="menu-text">
                                       学生课程信息
                        </span>
                    </a>
                </li>
                <li>
                    <a href="calendar.html">
                                   <span class="icon-menu feather-icon">
                                       <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                   </span>
                        <span class="menu-text">
                                       日历
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </aside>
    <!-- Container Start -->
    <div class="page-wrapper">
        <div class="main-content">
            <!-- Page Title Start -->
            <div class="row">
                <div class="col xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box">
                            <h4 class="page-title">详细信息：</h4>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li class="breadcrumb-link">
                                    <a href="javascript:void(0);"><i class="fas fa-home mr-2"></i>课程成绩列表</a>
                                </li>
                                <li class="breadcrumb-link active">学生成绩管理系统</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Products view Start -->
            <div class="row" >
                <div>
                    <div class="ad-user-btn" style="padding: 0px 0px 0px 1000px" >
                        <input class="form-control" type="text"  placeholder="请输入学号" v-model="iPage.sd.sid" >
                    </div>
                </div>
                <div>
                    <div class="ad-user-btn" >
                        <input class="form-control" type="text" placeholder="请输入课程名" v-model="iPage.sd.sname">
                    </div>
                </div>
                <div>
                    <div class="add-group" >
                        <a class="ad-btn" @click="iPage.doSearch()">搜索</a>
                    </div>
                </div>
                <!-- Styled Table Card-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card table-card">


                        <div class="card-body">
                            <table  class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>学号</th>
                                    <th>姓名</th>
                                    <th>课程名称</th>
                                    <th>课程成绩/分</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(user,i) in iPage.dataList">
<!--                                            <td>-->
<!--                                                <input type="checkbox" :value="user.id" v-model="ids"/>-->
<!--                                            </td>-->
                                    <td>{{i + 1}}</td>
                                    <td>{{user.sid}}</td>
                                    <td>{{user.sname}}</td>
                                    <td>{{user.cname}}</td>
                                    <td>{{user.cgrade}}</td>
                                </tbody>
                            </table>
                            <div class="fb-pagination" class="row">
                                <ul class="text-right" >
<!--                                    <li class="page-item text-left" >-->
<!--                                        <a href="javascript:;" style="width: 150px">共有 {{iPage.dataCount}} 条数据</a>-->
<!--                                    </li>-->
                                    <div class="btn-group mt-2 mr-2" role="group">
                                        <button class="btn btn-secondary dropdown-toggle" id="btn2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                            每页{{iPage.pageSize}}项
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btn2" >
                                            <a class="dropdown-item" href="javascript:;" v-for="ipage in iPage.pageSizeList" @click="iPage.changeSize(ipage)">
                                                每页{{ipage}}项
                                            </a>
                                        </div>
                                    </div>
                                    <li><a href="javascript:;"><i class="fa fa-angle-double-left" aria-hidden="true" @click="iPage.up()"></i></a></li>
                                    <li>
                                        <a href="javascript:;" v-for="data in iPage.pageList"  @click="iPage.goPage(data)">
                                            {{data}}
                                        </a>
                                    </li>
                                    <li><a href="javascript:;"><i class="fa fa-angle-double-right" aria-hidden="true" @click="iPage.down()"></i></a></li>
                                    <li class="page-item" >
                                        <a href="javascript:;" style="width: 150px">共有{{iPage.pageList.length}}页/当前第{{iPage.pageIndex}}页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                </div>
        </div>
    </div>
</div>
</div>

<!-- Script Start -->
<script src="utils/js/jquery.min.js"></script>
<script src="utils/js/popper.min.js"></script>
<script src="utils/js/dataTables.responsive.min.js"></script>
<script src="utils/js/bootstrap.min.js"></script>
<script src="utils/js/swiper.min.js"></script>
<!-- Page Specific -->
<script src="utils/js/nice-select.min.js"></script>
<!-- Custom Script -->
<script src="utils/js/custom.js"></script>

<script src="3rd/vue2/vue.min.js"></script>
<script src="3rd/layui/layui.js"></script>
<script src="utils/js/page.js"></script>



<script>
    var vv = new Vue({
        el: '.app',
        data: {
            iPage: iPage
        },
        methods:{
        }
    });
    vv.iPage.init("stugrade-list");
</script>

</body>

</html>